.about-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 4rem;
}

.about-about {
    color: #706f6f;
}

.about-contentContainer {
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

#about-subtitle {
    margin-top: 4rem;
    text-indent: 3rem;
}

#about-subtitle2 {
    text-indent: 3rem;
}

.about-imageContainer {
    display: flex;
    justify-content: center;
}

.about-pic {
    border-radius: 50%;
    border: 2px solid $blue;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 1);
    height: 300px;
    width: 300px;
}

#about-pic2,
#about-pic3 {
    margin-left: -20px;
}

.about-listContainer {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.about-subheading {
    font-weight: bold;
    color: $blue;
}

.about-appLink {
    color: $blue;
}

@media only screen and (max-width: $desktop-breakpoint) {
    #about-pic1,
    #about-pic3 {
        display: none;
    }
}

@media only screen and (max-width: $tablet-breakpoint) {
    .about-listContainer {
        flex-direction: column;
    }
}
