// Colors
$dark-grey: #333;
$grey: #666;
$blue: #0077be;
$dark-blue: #364051;
$off-white: #f7f7f7;
$dark-overlay: rgba(0, 6, 25, 0.75);
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
//Media Query Breakpoints
$desktop-breakpoint: 75rem;
$tablet-breakpoint: 45rem;
$iphone-breakpoint: 38rem;
